# Auto detect text files and perform LF normalization
*        text=auto

.gitattributes text eol=lf
*.tex    text eol=lf
*.c      text
*.hs     text eol=lf
*.cc     text eol=lf
*.cpp    text
*.cxx    text
*.txt    text
*.py     text
*.sh     text
*.scm    test
Makefile text
*.dot    text
*.eps    text
