# Auto detect text files and perform LF normalization
*        text=auto

.gitattributes text eol=lf
*.tex    text eol=lf
*.c      text eol=lf
*.hs     text eol=lf
*.cc     text eol=lf
*.cpp    text eol=lf
*.cxx    text eol=lf
*.h      text eol=lf
*.hpp    text eol=lf
*.txt    text eol=lf
*.py     text eol=lf
*.sh     text eol=lf
*.scm    test eol=lf
Makefile text eol=lf
*.dot    text eol=lf
*.eps    text eol=lf
