


li .syntax_hilite {
	/*padding:3px 3px 30px 8px; */
}

.syntax_hilite {
	/*width:4px; */
	padding: 0 0 0 20px;
	line-height: 16px;
	font-size:12px; 
	font-family:'Courier New',Courier,monospace;
	border-left: 1px dotted #999;
}

.syntax_hilite, .inline_code {
/*	font-size:12px; */
        font-family:'Courier New',Courier,monospace;
}

.inline_code {
	color: #2E9BF4;
	font-weight: bold;
		

}


.syntax_hilite .br0 {
	color: #999;
}
.syntax_hilite .kw1{
	color: #2E9BF4;
	font-weight: bold;
}
.syntax_hilite .kw2{
	color: #F0931B;
	font-weight: bold;
}

.syntax_hilite .kw3{
	color: #1F89E0;
	font-weight: bold;
}

.syntax_hilite .kw4{
        color: #0bbf20;
	font-weight: bold;

}

.syntax_hilite .coMULTI{
	color: #0E8ED3;
	background-color: #DBF2FF; 

}

.syntax_hilite .me1{
        color: #0971F9;        
}


/* change this line to set the width of code box in a list */
li .syntax_hilite { width:460px; }
.igBar, li .igBar {
	background-color:#D6D3CE; font-family:courier,arial,verdana;
	border-left:1px solid #EEEEEE; border-top:1px solid #EEEEEE;
	border-right:1px solid #424142;
}
/* change this line to set the width of plain text bar above code box */
.igBar { width:511px; }
/* change this line to set the width of plain text bar above code box in a list */
li .igBar { width:471px; }
.igBar a, .igBar a:hover {
	margin:0px 5px 0px 10px; font-weight:bold; color:#000000;
	text-decoration:none;
}
.syntax_hilite .langName { color:#000000; font-weight:bold; }
.syntax_hilite textarea { margin:0px -5px -2px 0px; border:none; }
